.popup__content_img {
    max-width: 80 vw;
    max-height: 80 vh;
    //min-height: 330px;
    //background-color: #fff;
    //border-radius: 10px;
    position: relative;
    //box-sizing: border-box;
    //padding: 34px 36px;
}


/*
@media screen and (max-width: 540px) {
    .popup__content_img {
        width: calc(100% - 60px);
    }
}*/